/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Color de fondo del cuerpo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura de la pantalla completa */
    margin: 0;
}

/* Estilos para la tarjeta */
.tarjeta {
    background-color: #ffffff; /* Color de fondo de la tarjeta */
    width: 300px; /* Ancho de la tarjeta */
    height: 200px; /* Alto de la tarjeta */
    padding: 20px; /* Espacio interior entre el contenido y los bordes */
    margin: 20px; /* Margen externo para separar de los bordes */
    border: 2px;
    border-dotted: 10px; /* Bordes con puntos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    text-align: center; /* Alinear texto en el centro */
}

/* Estilos para el nombre */
.tarjeta h2 {
    color: 17ff00;
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px; /* Espacio entre el nombre y el título */
}

/* Estilos para la profesión o título */
.tarjeta h3 {
    color: #555555;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px; /* Espacio entre el título y la descripción */
}

/* Estilos para la descripción */
.tarjeta p {
    color: #777777;
    font-size: 14px;
    margin: 0;
}
#nombre{
color: 17ff00;
}

